# Backend API URL for ID Verify services
NEXT_PUBLIC_ID_VERIFY_BACKEND=https://id-verify-api-test-214036150009.northamerica-northeast2.run.app

# Resend (email)
RESEND_API_KEY=
CONTACT_EMAIL=sales@credoscreening.com
